[Unit]
Description=Serial Logger

[Service]
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=30

User=pi
Group=nogroup

WorkingDirectory=/home/pi/
ExecStart=/home/pi/seriallogger --port /dev/ttyUSB0 --port /dev/ttyUSB1 --port /dev/ttyUSB2 --sync-time
SyslogIdentifier=serial-logger

[Install]
WantedBy=multi-user.target