<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Diagnose-Adapter: Different Mind GmbH</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/grid.css'/>
    <link rel='stylesheet' type='text/css' href='/main.css'/>
</head>
<body>
<div class='container'>
    <div class='row'>
        <div class='col-6 center hidden-sm'>
            <h1 style='margin-top: 0px; margin-bottom: 0px;'>Diagnose-Adapter</h1>
        </div>
        <div class='col-6 center'>
            <img src="diffmind-for-dark.png" alt="logo" style='height: 3.5rem'/>
        </div>
    </div>
    <hr/>
    <div class='row' style='margin-bottom: 35px'>
        <div class='col-2'>
            <select onchange="onPortChange()" id="ports">
                <option value=""></option>
                <option value="0">Port 1</option>
                <option value="1">Port 2</option>
                <option value="2">Port 3</option>
            </select>
        </div>
        <div class='col-8'>
            <a class='button purple' href='#' onclick="downloadFile()">Download</a>
        </div>
        <div class='col-2'>
            <a class='button red' href='#' onclick="deleteFile()">Löschen</a>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <div id="logData"></div>
        </div>
    </div>
    <hr/>
    <div class='row'>
        <div class='col-12'>
            <a target='_blank' href='https://differentmind.de/'>Different Mind GmbH</a>
            coded with &#x1F497; by <a target='_blank' href='https://mc8051.de'>Niklas Schütrumpf</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    const messageLog = document.getElementById("logData");
    const portSelect = document.getElementById("ports");

    const colors = ["darkturquoise", "orchid", "sandybrown"];

    var selectedPort = undefined;

    function saveInBrowser(filename, content) {
        content = content.replaceAll("\0", "");
        let blob = new Blob([content]);
        console.log(blob)

        let url = window.URL.createObjectURL(blob);
        let link = document.createElement("a");
        link.setAttribute("href", url);
        link.setAttribute("target", "_blank");
        link.setAttribute("download", filename);
        link.click();
        window.URL.revokeObjectURL(url);
        link.remove();
    }

    async function downloadFile() {
        if (selectedPort === undefined) {
            alert("Bitte wählen Sie einen Port aus.");
            return;
        }
        let http = new XMLHttpRequest();
        let url = `/data/${selectedPort}`;
        http.open("GET", url, true);

        http.onreadystatechange = function () {
            if (http.readyState === 4) {
                const now = new Date();
                const dateString = now.getUTCFullYear() + "-" + ("0" + (now.getUTCMonth() + 1)).slice(-2) + "-" + ("0" + now.getUTCDate()).slice(-2)
                    + "_" + ("0" + now.getUTCHours()).slice(-2) + ("0" + now.getUTCMinutes()).slice(-2) + ("0" + now.getUTCSeconds()).slice(-2);
                if (http.status === 200) saveInBrowser(`differentmind_${dateString}.txt`, http.responseText);
                else alert(http.statusText);
            }
        }
        http.send();
    }

    async function deleteFile() {
        if (selectedPort === undefined) {
            alert("Bitte wählen Sie einen Port aus.");
            return;
        }

        let http = new XMLHttpRequest();
        let url = `/delete/${selectedPort}`;
        http.open("GET", url, true);

        http.onreadystatechange = function () {
            if (http.readyState === 4) {
                alert("Gelöscht");
            }
        }
        http.send();
    }

    async function onPortChange() {
        let value = portSelect.value;
        if (value === "" || value === undefined) selectedPort = undefined;
        else selectedPort = parseInt(value);
    }

    function appendLog(text, error, color) {
        const p = document.createElement("p");
        p.innerText = `${text}`;
        if (error === true) {
            p.style.color = "red";
            p.style.fontStyle = "bold";
        } else if (error === false) {
            p.style.color = "green";
            p.style.fontStyle = "bold";
        } else if (error === undefined && color !== undefined) {
            p.style.color = colors[color];
        }
        messageLog.append(p);
        return p;
    }

    function dial() {
        const conn = new WebSocket(`ws://${location.host}/subscribe`);

        conn.addEventListener("close", ev => {
            appendLog(`WebSocket Disconnected code: ${ev.code}, reason: ${ev.reason}`, true);
            if (ev.code !== 1001) {
                appendLog("Reconnecting in 1s", true);
                setTimeout(dial, 1000);
            }
        })
        conn.addEventListener("open", ev => {
            console.info("websocket connected");
            appendLog("WebSocket connected", false);
        })

        // This is where we handle messages received.
        conn.addEventListener("message", ev => {
            if (typeof ev.data !== "string") {
                console.error("unexpected message type", typeof ev.data);
                return;
            }
            if (selectedPort !== undefined && !ev.data.startsWith(`{${selectedPort}}`)) {
                return;
            }
            const port = parseInt(ev.data.charAt(1));

            const p = appendLog(ev.data.substring(3), undefined, port < 3 ? port : undefined);
            p.scrollIntoView();
        })
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        dial();
        for (let i = 0; i < portSelect.length; i++) {
            portSelect.options[i].style.color = colors[parseInt(portSelect.options[i].value)];
        }
    });
</script>
</body>
</html>